@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes fadein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes fadeout {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeout2 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideup {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  50% {
    transform: rotate(180deg);
    opacity: 10%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loader2 {
  0% {
    opacity: 100%;
    z-index: 9999;
  }
  99% {
    opacity: 0;
    z-index: -1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

#margtitle {
  font-family: Shrikhand, cursive;
  font-weight: 100;
  font-size: 1.2em;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}
@media (min-width: 430px) {
  ul {
    max-width: 450px;
  }
}
@media (min-width: 1000px) {
  ul {
    display: flex;
    min-width: 100%;
    justify-content: space-evenly;
  }
}

#container {
  max-width: 1500px;
}

#backgroundloader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #99E2D0;
  width: 100%;
  height: 100%;
  animation: loader2 3s;
  animation-fill-mode: both;
  animation-timing-function: step-end;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: dual-ring 0.8s infinite, loader 3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
@media (min-width: 320px) {
  #loader {
    top: 40%;
    left: 40%;
  }
}
@media (min-width: 375px) {
  #loader {
    top: 45%;
    left: 45%;
  }
}
@media (min-width: 820px) {
  #loader {
    top: 50%;
    left: 50%;
  }
}

#contact {
  color: white;
}

.spacediv p {
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#paris {
  display: flex;
  justify-content: center;
  border-top: solid 3px rgba(128, 128, 128, 0.301);
  min-width: 321px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.212);
}
#paris .icon {
  margin-right: 10px;
}

#reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  background-color: #eeeaea;
  padding-bottom: 45px;
}
#reservation #btn {
  transition: 1s;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: gray;
  color: white;
  font-weight: bold;
  max-width: 200px;
  min-width: 200px;
  margin-top: 15px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
}
#reservation #btn:hover {
  filter: brightness(1.5);
  box-shadow: 0px 0px 10px 15px gray;
}

#center-top1 {
  text-align: center;
  margin-top: 20px;
  max-width: 350px;
}

#center-top2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 350px;
}

.icon-top {
  color: gray;
  margin-right: 15px;
  margin-left: 10px;
}

.icon-top-purple {
  color: #9356DC;
  margin-right: 15px;
  margin-left: 10px;
}

#li-3 {
  background-color: #9256dc36;
}

li {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px;
  margin: 18px;
  margin-left: 25px;
  box-shadow: 1px 1px 10px 1px #979191;
  min-width: 20%;
}
li #number1 {
  position: absolute;
  top: 15px;
  left: -14px;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 6px 10px;
  font-size: 0.8em;
  color: white;
}
li #number2 {
  position: absolute;
  top: 14px;
  left: -15px;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 6px 10px;
  font-size: 0.8em;
  color: white;
}
li #number3 {
  position: absolute;
  top: 14px;
  left: -15px;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 6px 10px;
  font-size: 0.8em;
  color: white;
}

li:hover {
  background-color: #9256dc36;
}

.space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px;
  margin: 18px;
  box-shadow: 1px 1px 10px 1px #979191;
  max-width: 100%;
}

.imga {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 650px;
  height: 350px;
}
@media (max-width: 900px) {
  .imga {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .imga {
    max-width: 100%;
    height: 240px;
  }
}
@media (max-width: 380px) {
  .imga {
    height: 220px;
  }
}

.card {
  position: relative;
}

.nouveau {
  position: absolute;
  padding: 0.7rem;
  border-radius: 0.25rem;
  color: darkgreen;
  font-weight: bold;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
}

.h3s {
  margin: 40px 0px 10px 20px;
}

.choice {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-wrap: wrap;
}
.choice .resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
@media (min-width: 630px) {
  .choice {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1350px) {
  .choice {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }
}

footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #363636;
  color: white;
}
footer #logo-white {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 10px;
}
footer .icon-footer {
  max-width: 2px;
  max-height: 2px;
  margin-right: 25px;
}
@media (min-width: 1000px) {
  footer {
    padding: 40px;
  }
}

.img-top {
  width: 100%;
  max-height: 510px;
}

.arrow {
  position: absolute;
  left: 20px;
  top: 30px;
  color: rgba(0, 0, 0, 0.801);
}

#margtitle {
  margin-left: 15px;
  max-width: 220px;
}

img {
  object-fit: cover;
}

.titlemargall {
  margin-top: 30px;
  margin-left: 15px;
  border-bottom: solid rgba(55, 224, 55, 0.541);
  max-width: 30px;
}

#middle {
  position: absolute;
  top: 240px;
  min-width: 100%;
  min-height: 980px;
  background-color: #e7e5e5;
  border-radius: 20px 20px 0px 0;
  padding-top: 30px;
  max-width: 100%;
}
#middle .entrees {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #e2e2e2;
  margin: 10px;
  overflow: hidden;
}
@media (max-width: 386px) {
  #middle .entrees {
    max-width: 100%;
  }
}
#middle .bold {
  font-weight: bold;
  font-size: 1em;
}
#middle .bolder {
  font-weight: bold;
  font-size: 0.6m;
}
@media (min-width: 1000px) {
  #middle .bolder {
    margin: 15px;
  }
}
#middle p {
  font-size: 0.8em;
}
#middle .loves1 {
  position: absolute;
  right: 15px;
  color: gray;
}

#center {
  max-width: 100%;
}

.loves2 {
  display: none;
  opacity: 0;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 15px;
}

#margtitle:hover .loves2 {
  animation: fadeout;
  opacity: 1;
  animation-duration: 0.5s;
  display: inline-block;
  justify-content: center;
}

.loves3 {
  display: none;
  opacity: 0;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 9px;
  bottom: 18px;
}

.loveclcik:hover .loves3 {
  animation: fadeout2;
  opacity: 1;
  animation-duration: 0.5s;
  display: inline-block;
  justify-content: center;
  font-size: 1.5em;
}

#entrees {
  animation: slideup 1s;
  animation-duration: 1s;
}

#plats {
  animation: slideup 1s;
  animation-duration: 5s;
}

#desserts {
  animation: slideup 1s;
  animation-duration: 8s;
}

.entrees, .plats, .desserts {
  cursor: pointer;
}
@media (max-width: 375px) {
  .entrees, .plats, .desserts {
    max-width: 100%;
  }
}
@media (max-width: 414px) {
  .entrees, .plats, .desserts {
    max-width: 100%;
  }
}
@media (min-width: 1000px) {
  .entrees, .plats, .desserts {
    min-height: 90px;
    width: 100%;
  }
}

.spacediv {
  width: 100%;
  overflow: hidden;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
@media (min-width: 1000px) {
  .spacediv {
    justify-content: space-evenly;
  }
}

.plats {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #e2e2e2;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.desserts {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #e2e2e2;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .responsive {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .responsive-entrees {
    display: flex;
    justify-content: center;
  }
}

#btnp2 {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: gray;
  color: white;
  font-weight: bold;
  max-width: 200px;
  min-width: 200px;
  margin-top: 15px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  transition: 1s;
}
#btnp2:hover {
  filter: brightness(1.5);
  box-shadow: 0px 0px 10px 15px gray;
}
@media (min-width: 1000px) {
  #btnp2 {
    margin-top: 150px;
  }
}

#placement-btn {
  display: flex;
  justify-content: center;
  place-items: center;
}

.end1 {
  position: absolute;
  top: 1151px;
  min-width: 100%;
}

.end {
  position: absolute;
  min-width: 100%;
}

@media (min-width: 430px) {
  .end-ul {
    max-width: 450px;
  }
}
@media (min-width: 1000px) {
  .end-ul {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.end-ul p {
  margin: 8px;
  margin-left: 20px;
}

.align-price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
}

.check {
  width: 0px;
  transition-duration: 1s;
  font-size: 1.5em;
}
.check i {
  display: none;
  place-items: center;
  color: white;
}

.entrees:hover .check {
  width: 90px;
  height: 51px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;
}
@media (max-width: 1000px) {
  .entrees:hover .check {
    width: 65px;
  }
}
.entrees:hover .check .rotation {
  display: flex;
  place-items: center;
}
.entrees:hover .check .rond {
  display: flex;
  place-items: center;
  transform-origin: center;
  animation: spin;
  animation-duration: 1s;
}
@media (min-width: 1000px) {
  .entrees:hover .check {
    height: 90px;
    border-radius: 0 10% 10% 0;
  }
}

.plats:hover .check {
  width: 90px;
  height: 51px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;
}
@media (max-width: 1000px) {
  .plats:hover .check {
    width: 65px;
  }
}
.plats:hover .check .rotation {
  display: flex;
  place-items: center;
}
.plats:hover .check .rond {
  display: flex;
  place-items: center;
  transform-origin: center;
  animation: spin;
  animation-duration: 1s;
}
@media (min-width: 1000px) {
  .plats:hover .check {
    height: 90px;
    border-radius: 0 10% 10% 0;
  }
}

.desserts:hover .check {
  width: 90px;
  height: 51px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;
}
@media (max-width: 1000px) {
  .desserts:hover .check {
    width: 65px;
  }
}
.desserts:hover .check .rotation {
  display: flex;
  place-items: center;
}
.desserts:hover .check .rond {
  display: flex;
  place-items: center;
  transform-origin: center;
  animation: spin;
  animation-duration: 1s;
}
@media (min-width: 1000px) {
  .desserts:hover .check {
    height: 90px;
    border-radius: 0 10% 10% 0;
  }
}

/*# sourceMappingURL=style.css.map */
